body {
  background-color: #e3e3e3;
}

.row-one {
  backround-color: #00FF00;
}

.row-two {
  backround-color: #FFFF00;
}

.row-three {
  backround-color: #FF0000;
}

.row-four {
  backround-color: #0000FF;
}